# Python caches
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
env.bak/
venv.bak/

# Logs
*.log
logs/

# Containerlab & Simulation Data
sim-data/
scratch/
clab-*/
*.clab.yml.bak
.clab.yml.bak

# Rust / Cargo
target/
**/*.rs.bk

# OS
.DS_Store
Thumbs.db
